[submodule "ascend_pytorch"]
	path = ascend_pytorch
	url = https://gitcode.com/Ascend/pytorch.git
[submodule "pytorch"]
	path = pytorch
	url = file:///home/x50057147/torch-distributed-ut-generator/pytorch
